@CHARSET "ISO-8859-1";

body
{
	
	width: 1000px;
	background-color: #c9c9c9;
	margin: auto;
	
	background-position: center;
	
}

header
{
	height: 300px;
}

html
{
	
	background-color: #ffffff;
}

footer
{
	text-align: center;
	border-top: black, medium, solid;
}

h1
{
	margin-top: -170px;
	margin-left: 500px;
	position: absolute;
	width:450px;
	text-align: center;
	font-size: 60px;
}

img
{
	position: relative;
}

.command
{
	width: 1000px;
	height: 50px;
	font-size: 35px;
}

input, label
{
	display:inline-block;
}

label
{
	  width: 100px;
}

.last_commands
{
	height: 150px;
	width: 230px;
}

.last_commands:HOVER 
{
	height: 160px;
	width: 240px;
}

.deconnection
{
	position:fixed; 
	margin-left:899px;
	margin-top: -220px;
	
	background-image: linear-gradient(teal,grey);
	color: white;
	
	
}

.deconnection:HOVER
{
	position:fixed; 
	margin-left:899px;
	margin-top: -220px;
	
	background-image: linear-gradient(#009999,grey);
	color: white;
	
	
}